/* ========================= */
/* FONDO GAMER */
/* ========================= */

body{
margin:0;
font-family:Arial;
color:white;
text-align:center;
overflow-x:hidden;

background:
radial-gradient(circle at 20% 30%, #1a2a5f 0%, transparent 40%),
radial-gradient(circle at 80% 70%, #0a1a40 0%, transparent 40%),
#050b1a;
}

/* ESTRELLAS */

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:200%;
height:200%;
background:url("https://www.transparenttextures.com/patterns/stardust.png");
opacity:0.25;
animation:estrellas 120s linear infinite;
z-index:-2;
}

@keyframes estrellas{
0%{transform:translate(0,0);}
100%{transform:translate(-1000px,-800px);}
}

/* ========================= */
/* HEADER */
/* ========================= */

.header-premium{
margin-top:40px;
}

.logo{
width:200px;
border-radius:25px;
box-shadow:0 0 40px cyan;
}

.titulo{
font-size:40px;
color:cyan;
text-shadow:0 0 20px cyan;
margin-top:15px;
}

.rol{
margin-top:10px;
}

/* ========================= */
/* MENU */
/* ========================= */

.menu-botones{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-top:25px;
}

/* BOTONES */

.btn{
background:linear-gradient(90deg,#00eaff,#00ff6a);
padding:14px 25px;
border:none;
border-radius:20px;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 20px cyan;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 40px #00ffff;
}

/* SALIR */

.btn-salir{
margin-top:30px;
padding:12px 20px;
border:none;
border-radius:15px;
background:red;
color:white;
cursor:pointer;
}
