body{
margin:0;
font-family:Arial;
background:#050b1a;
color:white;
text-align:center;
}

/* LOGIN */
.login-box{
margin-top:100px;
}

/* MENU */
.menu{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
margin:20px;
}

.menu button{
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
}

/* SUBCATEGORIAS */
.subcats{
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
}

/* TARJETAS */
.card{
background:#0c142b;
padding:15px;
border-radius:10px;
margin:10px;
max-width:400px;
}

.destacado{
border:2px solid yellow;
}
